{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <table class= "table table-light table-bordered">
        <thead class= "table-light">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
              <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{stock.name}}</td>
                <td>{{ stock.total_shares }}</td>
                <td>{{ stock.price | usd }}</td>
                <td>{{ (stock.price * stock.total_shares) | usd }}</td>
               </tr>
            {% endfor %}
            <tr>
                <td colspan="4" align="right">Cash</td>
                <td>{{cash}}</td>
            </tr>
            <tr>
                <td colspan="4" align="right">Total Value</td>
                <td>{{ t_value }}</td>
            </td>
        </tbody>
    </table>
{% endblock %}
